body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #808080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

* {
  font-family: 'Roboto', sans-serif;
}

#toDo {
  background: white;  /* fallback for old browsers */

}
#toDo a {
  color: #2B4162;

}

article {
  font-size: 20px;

}

.navbar-brand {

  font-weight: bold;
}

article h2 {
  color: #2B4162;
  font-weight: bold;

}

article P {
  text-align: center;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

span{
  font-size: 20px;
  color: black;
  animation: blink 1.3s linear infinite;
}

.Title {
  align-content: center;
  text-align: center;
  padding: 10%;
  color: #6D454C;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(295deg, #37bd9b, #bd37b8, #7cc2e3, #7ac383, #f38df3);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
@keyframes AnimationName {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
}
}


header, footer {
  text-align: center;
  color: #D8DBE2;
  margin: 0 0% 5% 0%;
  padding: 2em;


}
article {
  color: #4F6367;
  padding: 3%;
}

nav a {
  margin: 1% 0% 1% 12%;
}
div h3 {
  font-weight: bold;
  color: #FFCB47;

  text-align: center;
}

.col-sm-4 {
  background-color: white;
  color: #19647E;
  text-align: left;
  padding: 3%;
  margin-top: 3%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
  box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
  max-height: 600px;
  background-color: #fceff9;

}

.jumbotron {

  margin:  0% 12% 0 12%;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 32px 31px;
  -webkit-border-radius: 0px 0px 32px 31px;
  border: 0px solid #000000;
  text-align: center;
  background-color: #EAF2E3 !important;
}

.Icons {
  text-align: center;
}


a {
  align-items: center;
  align: center;
}
h5 {
  color: #BFC0C0;
}



main p {
  color: #4F6367;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
