body {
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  font-weight: bold;
  background: #808080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

* {
  font-family: 'Roboto', sans-serif;
}
html {
  font-family: 'Roboto', sans-serif;

}
#toDo {
  background: white;  /* fallback for old browsers */

}
#toDo a {
  color: #2B4162;

}

.navbar-brand {

  font-weight: bold;
}

article h2 {
  color: #2B4162;
  font-weight: bold;

}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

.Title {
  align-content: center;
  text-align: center;
  padding: 10%;
  color: #54494B;
  background-color: white;
  opacity: 0.4;
  font-family: 'Roboto', sans-serif;
}

span{
  font-size: 20px;
  color: black;
  animation: blink 1.3s linear infinite;
}
header, footer {
  text-align: center;
  color: #D8DBE2;
  margin: 0 0% 5% 0%;
  background-color: #313638;
  padding: 2em;


}
article {
  color: #4F6367;
  padding: 3%;
}


div h3 {
  font-weight: bold;
  color: #FFCB47;

  text-align: center;
}

.col-sm-4 {
  background-color: white;
  color: #E3D081;
  text-align: left;
  padding: 3%;
  margin-top: 3%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
box-shadow: 10px 10px 5px 0px rgba(192,197,207,1);
max-height: 500px;
}

.jumbotron {

  margin:  0% 12% 0 12%;
  border-radius: 0px 0px 32px 31px;
 -moz-border-radius: 0px 0px 32px 31px;
 -webkit-border-radius: 0px 0px 32px 31px;
 border: 0px solid #000000;
Copy Text
text-align: center;

}

.Icons {
  text-align: center;
}


a {
  align-items: center;
  align: center;
}
h5 {
  color: #BFC0C0;
}



main p {
  color: #4F6367;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
